# Dependências
node_modules/

# Expo / Mobile
.expo/
dist/
web-build/

# Segurança (Isso vai tirar o "U" do seu .env.backup)
.env
.env.backup
**/.env.backup
**/.env*.local
service-account.json
*.jks
*.p8
*.p12
*.key

# IDE e Sistema
.vscode/
.DS_Store
*.tsbuildinfo
FinderBox-main.zip

# Firebase
.firebase/
firebase-debug.log*
.firebaserc