# Dependências e Builds
node_modules/
.expo/
dist/
web-build/
.next/
out/

# Mobile Native
/ios
/android
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Segurança e Variáveis de Ambiente (CRÍTICO)
.env
.env.backup
.env*.local
.env.production
*.pem

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
*.tsbuildinfo

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
firebase-debug.log*
